:root {
  //colors
  --color-primary: #004cb7;
  --color-primary-darker: #003885;
  --color-type-primary: #faf5fa;
  --color-type-dark: #ffffff;
  --color-secondary: #40f99b;
  --color-main-background: #0e0f15;
  --color-background: #14181e;
  --color-dark-l3: ##1c2029;
  --color-gray-shade: #d5d5d5;
  --color-nocturnal: #f7f8fa;
  --color-nocturnal-secondary: #ccdaee;
  --color-danger: #ff0055;
  --color-text-secondary: #7a7a7a;
  --color-light-blue: #e2edff;

  //border-radius
  --border-radius-xxs: 0.2rem;
  --border-radius-xs: 0.4rem;
  --border-radius: 0.8rem;
  --border-radius-lg: 1.2rem;
  --border-radius-xl: 1.6rem;
  --border-radius-xxl: 2.4rem;
  --border-radius-xxxl: 3.2rem;

  //fonts

  //breakpoints
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1600px;
}
