@use '../../../core/styles/mixins';

.container {
  position: relative;

  .sider {
    height: 100vh;
    position: fixed;
    left: 0;
    padding: 4.4rem 1.6rem 3.2rem;
    background: var(--color-background) !important;
    box-shadow: 8px 0px 20px 0px rgba(16, 16, 16, 0.9);
    z-index: 1;

    .logoContainer {
      width: 100%;
      @include mixins.flex-center;

      .logo {
        width: 80%;
        height: 4.8rem;
        margin-bottom: 8rem;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: unset;
    padding: 3.2rem !important;
  }

  .headerTitle {
    font-size: 3rem;
    font-weight: 600;
  }

  .mainLayout {
    margin-left: 25rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    .sider {
      padding: 4.4rem 0rem 3.2rem;
    }

    .mainLayout {
      margin-left: 4rem;
    }

    .header {
      padding: 1.6rem 5.2rem 1.6rem 6.4rem !important;
    }
  }
}
